<!-- destinations.html -->
{% extends 'travel/base.html' %}

{% block content %}
<div class="container">
    <h1>Destinazioni</h1>
    <div class="row">
        {% for destinazione in destinazioni %}
        <div class="col-md-6">
            <div class="destination-card">
                <h3>{{ destinazione.nome }}</h3>
                <a href="destinations/{{ destinazione.nome }}">Scopri</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
